{% extends "layout.html" %}



{% block content %}
<div class="col-xl-8">
          
         
        
</br>
<div class="container-fluid align-content-lg-center">    <h1>About</h1> </div>
</br>
     
  <div class="container-fluid">
    <div class="row"> 
            <div class="card">
        <div class="card-body">
          <h4 class="card-title">What is Otaku Jisho</h4>
          <h6 class="card-subtitle mb-2 text-muted">In short its a Japanese learning experience for Geeks, Nerds and Techies</h6>
          <p class="card-text">
            Welcome to version 1 of the Otaku Jisho, at the moment we are still building all the extras, but with this version we can see a few lessons straight from the remembering the kanji books written by James Heisig
          </p>
          
        </div>
      </div>

    </div>
  </div>
  </div>
    
{% endblock content %}