{% extends "layout.html" %}
{% block content %}
    </br>
     <div class="container-fluid align-content-lg-center">    <h1>Otaku Dashboard - オタク辞書のダッシュボード</h1> </div>
    </br>

    <div class="row">
      <div class="col-lg-4">
          <div class="card">
              <img class="card-img-top" src="/static/images/kanji.png" alt="Kanji">
                  <div class="card-body">
                    <h4 class="card-title">Kanji</h4>
                    <p class="card-text">
                     Kanji straight from the Heisig books in lesson order, to help practice and learn the over 2200 japanese characters.
                    </p>
                    <a href="{{ url_for('kanjis.single_heisig_level', single_heisig_level=1)}}" class="btn btn-primary">Kanji</a>
                  </div>
            </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top" src="/static/images/vocab.png" alt="Vocab">
          <div class="card-body">
            <h4 class="card-title">Vocab</h4>
            <p class="card-text">
              Vocabulary sorted with Heisig levels in mind.
            </p>
            <a href="{{ url_for('kanjis.single_vocab_level', single_heisig_level=1)}}" class="btn btn-primary">Vocab</a>
          </div>
        </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/static/images/board.png" alt="Bulletin Board">
                  <div class="card-body">
                    <h4 class="card-title">Bulletin Boards</h4>
                    <p class="card-text">
                      Leave some comments, your favourite sentence or word. You could even help with questions from other otaku.
                    </p>
                    <a href="{{ url_for('jishos.otakubb')}}" class="btn btn-primary">Bulletin Boards</a>
                  </div>
            </div>
      </div>
    </div>

    
{% endblock content %}