{% extends "layout.html" %}
{% block content %}
 
 
<div class="row">
  <div class="col-sm-9">
    <h1>Dashboard</h1>
    <div class="row">
      <div class="col-8 col-sm-6">
          <div class="card">
          <img class="card-img-top" src="/static/images/kanji.png" alt="Kanji">
          <div class="card-body">
            <h4 class="card-title">Kanji</h4>
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
            <a href="#!" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="/images/vocab.png" alt="Vocab">
          <div class="card-body">
            <h4 class="card-title">Vocab</h4>
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
            <a href="#!" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="/images/board.png" alt="Bulletin Board">
          <div class="card-body">
            <h4 class="card-title">Bulletin Board</h4>
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
            <a href="#!" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>    

    
    
{% endblock content %}