{% extends "layout.html" %}
{% block content %}
     <div class="container-fluid align-content-lg-center">    <h1>Dashboard</h1> </div>


    <div class="row">
      <div class="col-lg-4">
          <div class="card">
              <img class="card-img-top" src="/static/images/kanji.png" alt="Kanji">
                  <div class="card-body">
                    <h4 class="card-title">Kanji</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title
                      and make up the bulk of the card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top" src="/static/images/vocab.png" alt="Vocab">
          <div class="card-body">
            <h4 class="card-title">Vocab</h4>
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
            <a href="#!" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
              <img class="card-img-top" src="/static/images/board.png" alt="Bulletin Board">
                  <div class="card-body">
                    <h4 class="card-title">Bulletin Board</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title
                      and make up the bulk of the card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
      </div>
    </div>

    
{% endblock content %}