{% extends "layout.html" %}
{% block content %}
      
 
   <div class="container">
       
       
       
      <ul class="list-group list-group-horizontal">
     
        {% for kanji in kanjis %}
        {% if  kanji.kanji_id<= 10 -%}
         <li class="list-group-item">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">Kanji # {{ kanji.kanji_id }} Heisig Level -{{ kanji.heisig_level }} </div>
              <div class="panel-body"><h1>{{ kanji.character }}</h1></div>
              
            </div>
          </div>
        </li>
         {% endif %}
        
        
        {% if  kanji.kanji_id > 10 -%}
         
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">Kanji # {{ kanji.kanji_id }} Heisig Level -{{ kanji.heisig_level }} </div>
              <div class="panel-body"><h1>{{ kanji.character }}</h1></div>
              
            </div>
          </div>
        
         {% endif %}
        {% endfor %}
     
      </ul>
    </div>
    
  
{% endblock content %}