<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>Otaku Jisho - {{ title }}</title>
    {% else %}
        <title>オタク辞書</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <div class="jumbotron text-center">
        <h1>Otaku Jisho - オタク辞書</h1>
        <p>Helping Geeks and Nerds with English and Japanese</p>
      </div>

      
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Otaku Jisho</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('suggestions.home') }}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Kanji
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('kanjis.single_heisig_level', single_heisig_level=1) }}">Level 1</a>
                    <a class="dropdown-item" href="{{ url_for('kanjis.single_heisig_level', heisig_level=2) }}">Level 2</a>
                    <a class="dropdown-item" href="{{ url_for('kanjis.single_heisig_level', heisig_level=3) }}">Level 3</a>
                  </div>
                </li>
                
                <a class="nav-item nav-link" href="{{ url_for('suggestions.new_suggestion') }}">New Suggestion</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
                <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Join US</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Kanji Sidebar</h3>
            <p class='text-muted'>Latest Kanji.
              {% for kanji in kanjis %}
    
                <article class="media content-section">
                  <div class="media-body">
                    
                    <h2><a class="article-title" href="#">{{ kanji.character }}</a></h2>
                    
                  </div>
                </article>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
