{% extends "layout.html" %}
{% block content %}
     
     <h2 class="article-title">Heisig Level - {{ kanjis.heisig_level }}</h2>
     
    {% for kanji in kanjis %}
    
    
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/') }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ kanji.kanji_id }}</a>
            <small class="text-muted">{{ kanji.heisig_level }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ kanji.character }}</a></h2>
          <p class="article-content">{{ kanji.meaning }}</p>
        </div>
      </article>
    
      
    {% endfor %}

    
  
{% endblock content %}
