{% extends "layout.html" %}
{% block content %}
     
  <div class="container-fluid">
    <div class="row"> 
      {% for kanji in kanjis %}
      
    
        <div class="col-sm-3">
          <div class="card" style="width: 10rem;">
            <div class="card-body">
              
              <h2><div class="card-header" href="#">{{ kanji.character }}</div></h2>
              <div class="card-body">{{ kanji.meaning }}</div>
              <div class="card-footer">
                <small class="text-muted" href="#">{{ kanji.kanji_id }}</small>
                <small class="text-muted">{{ kanji.heisig_level }}</small
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock content %}
